html, body, #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
  color: #fff;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.navbar {
  background: #0d0d0d;
}

.logo {
  background: #fff;
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Fix text aalignment and spacing */
section {
  margin-bottom: 50px;
}


/* Headings */
h1, h2 {
  color: #333;
  font-weight: bold;
}

.skills-section ul {
  list-style-type: none;
  padding: 0;
}

.skills-section li  {
  margin-bottom: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
