* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #121212;
  color: #fff;
  line-height: 1.6;
}

.navbar {
 position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  display: flex;
  backdrop-filter: blur(10px);
  background: rgba(13, 13, 13, 0.85);
}
.navbar nav a {
  margin-left: 24px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  opacity: 0.7;
}

.navbar nav a:hover {
  opacity: 1;
}

.hero {
  max-width: 1100px;
  margin: 120px auto;
  padding: 0 20px;
}

.hero h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.hero h2 span {
  color: #5c5cff;
}

.hero p {
  max-width: 1000px;
  font-size: 1.1rem;
  opacity: 0.8;
}

.hero-actions {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.btn-primary {
  padding: 14px 36px;
  background: #111;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 500;
}

.btn-outline {
  padding: 14px 36px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 500;
}

.projects {
  max-width: 1100px;
  margin: 120px auto;
  padding: 0 20px;
}

.projects h3 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;  
}

.projects-card {
  background: #fff;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-decoration: none;
  min-height: 420px;
  color: #111;
}

.projects-card:hover {
  transform: translateY(-6px);
}

.projects-card h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.projects-card p {
  opacity: 0.8;
  margin-bottom: 20px;
}

.projects-card span {
  font-weight: 0.9rem;
  opacity: 0.6;
}

.projects-links {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.projects-links a {
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  color: #111;
  opacity: 0.7;
  transition: opacity 0.3es ease, transform 0.3s ease;
}

.projects-links a:hover {
  opacity: 1;
  transform: translateX(4px); 
}

.projects-image {
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 20px;
}

.projects-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.skills {
  max-width: 110px;
  margin: 120px auto;
  padding: 0 20px;
}

.skills h3 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15f0px, 1fr));
  gap: 20px;  
}

.skills-grid div {
  background: #111;
  padding: 5px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.contact {
  max-width: 1100px;
  margin: 120px auto;
  padding: 0 20px 100px;
}

.contact h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.contact p {
  margin-bottom: 10px;
  opacity: 0.8;
  color: blue;
}

.contact a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contact a:hover {
  border-bottom: 1px solid #5c5cff;
  color: #5c5cff;
}

.hero,
.skills,
.projects,
.contact {
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 2.5rem;
  }

  .navbar nav {
    display: none;
  }
  .projects-image {
    max-height: 160px;
  }

  .projects-grid {
    gap: 32px;
  }
}

@media (max-width: 480px) {
  .projects-image {
    max-height: 140px;
  }
}